.DS_Store
.vscode
_build
_extras
dev
*.egg-info
__pycache__
tests/__pycache__
.pybuild/
.coverage
/.tox
*.py[coe]
.#*
.*.swp
pip-wheel-metadata
docs/build
docs/source/generated
build/
dist/
_old
_scratch