# runtime requirements
datalad>=0.17
datalad-metalad>=0.4.1
jsonschema
pyyaml

# requirements for a development environment
pytest
nose
coverage

# requirements for a document building
sphinx
sphinx_rtd_theme
sphinx_copybutton
