<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>My first BootstrapVue app</title>

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://kit.fontawesome.com/17e62561a1.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Template for recursive tree item -->
    <script type="text/x-template" id="item-template">
      <li>
        <div :class="{bold: isFolder}" @click="toggle">
          <span v-if="isFolder && isOpen"> <i class="far fa-folder-open"></i></span>
          <span v-else-if="isFolder && !isOpen"> <i class="far fa-folder"></i></span>
          <span v-else> </span> {{ displayText }}
        </div>
        <ul v-show="isOpen" v-if="isFolder">
          <tree-item class="item" v-for="(child, index) in item" :key="index" :index="index" :item="child"></tree-item>
        </ul>
      </li>
  </script>
  </head>
  <body>
    <!-- Our application root element -->
    <b-container id="demo" style="font-family: Menlo, Consolas, monospace">
     

      <!-- <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">NavBar</b-navbar-brand>
      
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      
          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item href="#">Link</b-nav-item>
              <b-nav-item href="#" disabled>Disabled</b-nav-item>
            </b-navbar-nav>
      
            
            <b-navbar-nav class="ml-auto">
              <b-nav-form>
                <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
              </b-nav-form>
      
              <b-nav-item-dropdown text="Lang" right>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">ES</b-dropdown-item>
                <b-dropdown-item href="#">RU</b-dropdown-item>
                <b-dropdown-item href="#">FA</b-dropdown-item>
              </b-nav-item-dropdown>
      
              <b-nav-item-dropdown right>
                <template #button-content>
                  <em>User</em>
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div> -->
      
      <b-container>
            <b-navbar toggleable="lg" type="light" variant="faded" vertical>
              <b-navbar-brand href="#" style="font-family: Menlo, Consolas, monospace">
                <img src="artwork/datalad_logo_wide.svg" class="d-inline-block align-middle" alt="datalad" style="width:150px;">
                &nbsp;&nbsp;Catalog
              </b-navbar-brand>
          
              <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          
              <b-collapse id="nav-collapse" is-nav>

                
                <b-navbar-nav class="ml-auto">
                  <b-nav-form right>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                  </b-nav-form>

                  <b-nav-item href="#" right><i class="fab fa-twitter"></i></b-nav-item>
                  <b-nav-item href="#" right><i class="fab fa-github"></i></b-nav-item>

                </b-navbar-nav>
                
              </b-collapse>
            </b-navbar>
      </b-container>
      <br>

      <b-container class="text-center">
        <h2>StudyForrest</h2>
      </b-container>
      <br>

      <b-container class="bv-example-row">
      
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <b-row>
          <b-col cols="6" md="4">
            <b-nav vertical class="w-50">
              <b-nav-item active >Active</b-nav-item>
              <b-nav-item>Another Link</b-nav-item>
              <b-nav-item>Another Link</b-nav-item>
              <b-nav-item>Another Link</b-nav-item>
              <b-nav-item>Another Link</b-nav-item>
              <b-nav-item>Another Link</b-nav-item>
            </b-nav>
          </b-col>

          <b-col cols="6" md="4">
            <ul>
              <tree-item class="item" :item="studyData"></tree-item>
            </ul>
          </b-col>
          <b-col cols="6" md="4"></b-col>
        </b-row>
      
      </b-container>

      <!-- <div>
        <b-button v-b-toggle.sidebar-variant>Toggle Sidebar</b-button>
        <b-sidebar id="sidebar-variant" title="Sidebar" bg-variant="dark" text-variant="light" shadow>
          <div class="px-3 py-2">
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
              in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
            <b-img src="https://picsum.photos/500/500/?image=54" fluid thumbnail></b-img>
          </div>
        </b-sidebar>
      </div> -->

      

      <b-container>
        
      </b-container>

      

      
    </b-container>

    <!-- Start running your app -->
    <script src="vue_app.js"></script>
    
  </body>
</html>