<!-- Uncomment the section that is right (remove the HTML comment wrapper).-->
{% for cat in config.categories -%}
<!--
### {{ cat }}

- Describe change, possibly reference closed/related issue/PR.
  Fixes https://github.com/datalad/datalad-catalog/issues/XXX via
  https://github.com/datalad/datalad-catalog/pull/XXX (by [@GITHUBHANDLE](https://github.com/GITHUBHANDLE))
-->
{% endfor -%}
