<li>
    <div :class="{bold: isFolder, showpointer: isFolder}" @click="toggle">
        <!-- Open folder -->
        <span v-if="isFolder && isOpen"> <i class="far fa-folder-open"></i> {{ displayText }}</span>
        <!-- Closed folder -->
        <span v-else-if="isFolder && !isOpen"> <i class="far fa-folder"></i> {{ displayText }} <span v-if="spinner_on"><b-spinner small label="Loading..."></b-spinner></span></span>
        <!-- Dataset -->
        <span v-else-if="isDataset"><span v-if="item.state == 'disabled'" class="subdataset-disabled"> <i class="fas fa-database"></i> {{ displayText }}</span><span v-else> <i class="fas fa-database"></i> <a class="subdataset" @click="selectDataset($event, item, item.id)">{{ displayText }}</a></span></span>
        <!-- File -->
        <span v-else> <i class="far fa-file-alt"></i>
            <span v-if="downloadURL.includes('http')">
                <a :href="downloadURL" :download="displayText">{{ displayText }}</a>
            </span>
            <span v-else>{{ displayText }}</span>
            <span class="filesize">{{byteText}}</span>
        </span>
    </div>
    <!-- Children of an open folder -->
    <ul v-show="isOpen" v-if="isFolder">
        <tree-item class="item" v-for="(child, index) in item.children" :key="index" :index="index" :item="child" v-on="$listeners"></tree-item>
    </ul>
</li>