# Catalog properties
catalog_name: "DataCat"

# Styling
logo_path: "" # path to logo
link_color: "#fba304" # hex color code
link_hover_color: "#af7714" # hex color code

# Social links
social_links:
  about: null
  documentation: "https://docs.datalad.org/projects/catalog/en/latest/"
  github: "https://github.com/datalad/datalad-catalog"
  twitter: "https://twitter.com/datalad"

# Render settings
dataset_options:
  include_metadata_export: true

# Options for multiple sources of metadata:
property_sources:
  dataset:
    dataset_id: 
      rule: "single"
      source: "metalad_core",
    dataset_version:
      rule: "single"
      source: "metalad_core",
    type:
      rule: "single"
      source: "metalad_core",
    children:
      rule: "merge"
      source: "any",
    name:
      rule: "single"
      source: "metalad_studyminimeta",
    short_name: "",
    description:
      rule: "priority"
      source: ["catalog_readme", "metalad_studyminimeta", "datacite_gin", "bids_dataset"],
    doi: "",
    url:
      rule: "merge"
      source: "any",
    authors:
      rule: "merge"
      source: ["metalad_studyminimeta"],
    keywords:
      rule: "merge"
      source: "any",
    license: "",
    funding:
      rule: "merge"
      source: "any",
    publications:
      rule: "merge"
      source: "any",
    subdatasets:
      rule: "merge"
      source: "any",
    additional_display:
      rule: "merge"
      source: "any",
    top_display:
      rule: "merge"
      source: "any",
  # file: not yet specified